{% extends "layout.html" %}

{% block main %}

    <div class="clearfix">
        <img src="/static/panda-wall.png" alt="panda leaning on a wall" class="float-md-end ms-md-3 mb-3">
        <div style="padding-top: 40px; padding-left: 30px;">
            <h4>
                🍽️ About Flavor Voyage - Your culinary Companion! 🍲
            </h4>
            <p>
                Flavor Voyage is a fusion between cutting edge technology and culinary exploration. This project was
                made by
                I, Gazi MD Wasi-UL-Hoque Eusha, a current computer science and technology enthusiast enrolled in
                Harvard's
                <a href="https://cs50.harvard.edu/x/2023/" style="color: #800020; text-decoration: none;">CS50x</a>. This final project is the accumulated combination of weeks worth of hard work, learning, coding
                and a
                genuine interest for food.
            </p>

            <br>
            <h4>
                🌐 The Inspiration 🍳
            </h4>
            <p>
                Flavor voyage was designed to solve a real-world problem. I am a current student at the <a
                    href="https://www.utas.edu.au/" style="text-decoration: none; color: #800020;">University of
                    Tasmania</a>, and the university's student association <a href="https://www.tusa.org.au/" style="text-decoration: none; color: #800020;">(TUSA)</a> established a food hub to help
                students with food
                needs. I
                am a dedicated volunteer at the food hub and unfortunately have seen people actively avoid some fruits
                and
                veggies due to the fact they do not know how to cook them, so I designed this app to help the students
                find
                recipes for those unknown ingredients and unlock new culinary delights. I believe my app will be one of
                the stepping stones for a positve change.
            </p>
            <br>
            <h4>
                💡 The Vision 👩‍🍳
            </h4>
            <p>
                Our vision is simple yet profound: to empower home chefs, aspiring cooks, and seasoned culinary experts
                alike with a tool that transforms their kitchen adventures. Flavor Voyage goes beyond a mere recipe
                finder;
                it's a culinary companion that helps you discover, plan, and enjoy a world of diverse flavors.
            </p>
            <br>
            <h4>🚀 Continuous Improvement:</h4>
            <p>
                I am committed to the ongoing enhancement of Flavor Voyage. Regular updates
                will introduce new features, refine existing ones, and ensure an ever-evolving, enriching experience.
            </p>
            <br>
            <h4>Join Us on This Flavorful Journey!</h4>
            <p>Ready to embark on a culinary adventure? Dive into Flavor Voyage and let the magic of flavors unfold in
                your
                kitchen. Discover, plan, and create with ease - because every meal should be an experience. Bon Appétit!
                🌶️✨
            </p>
            <h4>Connect with me here: </h4>
            <p>
                <a href="https://github.com/Eusha425"><img src="/static/github.svg"></a>
            <a href="https://www.linkedin.com/in/gazi-eusha/"><img src="/static/linkedin.svg"></a>
            <a href="https://www.instagram.com/gazieusha/"><img src="/static/instagram.svg"></a>
            </p>
        </div>
    </div>

    <div class="footer">
        <p style="padding-top:10px; word-spacing: 5px; padding-left: 590px;">Copyright © Gazi Eusha · CS50x</p>
    </div>



{% endblock %}

