{% extends "layout.html" %}


{% block main %}

{% if error_message %}
    <p style="color: red; position:absolute; left:45.25%;">{{ error_message }}</p>
{% endif %}
<div style="position:relative; top:55px;">
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit" style="position:absolute; left: 48%;">Log In</button>
    </form>
</div>
{% endblock %}
